<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cmple.swipe">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_swipe"
        android:label="@string/app_name1"
        android:roundIcon="@mipmap/ic_launcher_swipe"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Swipe"
        tools:targetApi="m">




        <activity android:name=".MainScreen"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".MainActivity1"
            android:screenOrientation="portrait"
            android:theme="@style/Fullscreen">

        </activity>


        <activity
            android:name=".splash"
            android:theme="@style/Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".newsapp.MainActivity"
                  android:theme="@style/Fullscreen">
        </activity>
    </application>

</manifest>